.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-bottom: 10px;
}

.card-header {
    background-color: #0085B2;
    height: 5vh;
    color: #fff;
    border-radius: 10px;
    text-align: left;
}

.card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
} 
