*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    padding: 5vh 0;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: full;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.input-small {
    width: 10vw;
}

.input-full {
    width: full;
}

.input-medium {
    width: 17vw;
}

.input-large {
    width: 28vw;
}

h2, h6, label {
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    margin-top: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-bottom: 10px;
}

.card-header {
    background-color: #0085B2;
    height: 5vh;
    color: #fff;
    border-radius: 10px;
    text-align: left;
}

.card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
} 

.btn {
    width: 100%;
}

.btn-excluir {
    background: red;
    border: solid 1px black;
    cursor: pointer;
    padding: 2px;
}

.btn-excluir-style {
    width: 30px;
    height: 30px;
}

.btn-excluir-style img {
    width: 100%;
    height: 100%;
}

.produtos-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.produto-item {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 15px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 15px;
}

.produto-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 20px;
    flex-grow: 1;
    padding: 20px;
    margin-right: 70px;
}

.produto-title {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: white;
    padding: 0 10px;
    font-weight: bold;
}

.produto-header {
    font-weight: bold;
}

.produto-details {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 5px 0px;
}

.produto-imagem {
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 100%;
    background-color: #8290CE;
}

.produto-imagem img {
    max-width: 100%;
    max-height: 100%;
}

.produto-campos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.produtos-bottom {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

.select-und {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    width: 8vw;
}

.produtos-bottom .form-group input[type="number"],
.produtos-bottom .form-group input[type="text"] {
    width: calc(20vw - 8vw);
}

.produtos-bottom .form-group {
    flex-grow: 1;
}


.anexo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
}

.anexo-nome {
    flex-grow: 1;
}

.btn-visualizar img,
.btn-excluir img {
    width: 25px;
    height: 25px;
}

.btn-visualizar {
    background: #0085B2;
    cursor: pointer;
    size: 30px;
    border: none;
}

.btn-visualizar-style {
    width: 30px;
    height: 30px;
}