<div id="produtos-component">
    <h2>Produtos</h2>
    <div class="table-responsive">
        <table class="table" id="tabela-produtos">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Unidade de Medida</th>
                    <th>Quantidade em Estoque</th>
                    <th>Valor Unitário</th>
                    <th>Valor Total</th>
                    <th>Ações</th>
                </tr>
            </thead>
            
            <tbody></tbody>
        </table>
    </div>
    <button type="button" class="btn btn-primary" id="adicionar-produto">Adicionar Produto</button>
</div>
